<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Athiti:wght@400;500&family=IBM+Plex+Sans+Thai:wght@200&family=Mitr:wght@200&family=Noto+Serif+Thai&display=swap" rel="stylesheet">
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
div{
	color: gray;
	font-family: 'Athiti', sans-serif;
}
</style>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" routerLink="/">TradeShop
            <img src="../../../../assets/images/aa.png" alt="" width="130" height="70" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbars-rs-food">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a class="nav-link" routerLink="homepage">หน้าแรก</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/product">สินค้า</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/product/new/{{'6201c3ec2ae16ed0da09c163'}}">เพิ่มสินค้า</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/login">Login</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/register">Register</a></li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">บัญชีของฉัน</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/accountuser/edit/{{'id'}}">แก้ไขข้อมูล</a></li>
                    <li><a class="dropdown-item" href="/menu">รายการของฉัน</a></li>
                    <li><a class="dropdown-item" href="/exchange">คำร้องขอแลกเปลี่ยน</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">ออกจากระบบ</a></li>
                  </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Active</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul> -->

  





